@charset "UTF-8";
#top {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
	color: #4db56a;
	font-weight: 800;
}
a:hover {
	color: #007300;
}
/*header-------------------------------------------------------*/
ul {
	list-style-type: none;
	font-size: 30px;
	padding-left: 0;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
}
/*main-------------------------------------------------------*/
main {
	width: 1200px;
	margin: 30px auto;
}
#profile {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#profile p {
	padding-left:50px;
}
#profile img{
	width: 500px;
	border-radius: 150px;
}
#work img {
	width: 400px;
}
#skill img {
	width: 200px;
}
#skill,.flex {
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
#amu img {
	width: 800px;
}
#work,#skill,#contact {
	text-align: center;
}
#contact {
	line-height: 2;
}
h1 {
	text-align: center;
}
h2 {
	margin: 100px;
	text-decoration: underline;
}
h3 {
	margin-top: 50px;
}
.flex div {
	margin-left:10px;
	margin-right: 10px;
}
/*footer-------------------------------------------------------*/
footer {
	text-align: center;
	background-color: #4db56a;
	margin-top: 100px;
	padding: 50px 0;
}



/*form--------------------------------------------------------*/
.form-area {
	background-color: #f8f8f8;
	border: 1px solid #aaa;
	margin-top: 25px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
}
.form-area dt {
	width: 200px;
	padding: 15px 0;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
}
.form-area dd {
	width: calc(100% - 200px);
	padding: 15px 0;
}
.form-area dt .required::after {
	content: '必須';
	font-size: 11px;
	color: #eb4f32;
	margin-left: 10px;
}
.input-text {
	width: 100%;
	max-width:280px;
	height: 40px;
	padding: 0 10px;
}
.message {
	width: 100%;
	height: 260px;
	padding: 10px;
	line-height: 1.5;
}
.confirm-text {
	font-size: 14px;
	line-height: 22px;
	margin-top: 30px;
}
.submit-button {
	background-color: #f4dd64;
	display: inline-block;
	min-width: 180px;
	line-height: 48px;
	border-radius: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	border: none;
	color: #000;
}
.submit-button:hover {
	background-color: #d8b500;
}
