@charset "UTF-8";

/*header,footer共通----------------------------------------------*/
header, footer {
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
}
.pan {
	font-size: 15px;
	padding: 15px 50px 0;
}
.toggle-menu-button {
	display: none;
}
a {
	text-decoration: none;
	color: blue;
}
body {
	background-color: #f0ffff;
}
.br {
	display: none;
}
/*header---------------------------------------------------------------*/
.header-inner ul {
	list-style: none;
}
.icon {
	width: 40px;
	height: 40px;
}
.header-inner nav {
	font-family: "Indie Flower", cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
}
.header-inner nav li a{
	color: #006400;
	width: 30px;
}
.header nav li a:hover {
	color: #fff;
}
.header-inner nav li:hover {
	transform: scale(1.2);
}
.header-inner {
	max-width: 1200px;
	padding: 40px;
	height: 110px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shop-logo {
	height: 110px;
}
.header-inner ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-inner li {
	margin: 0 10px;
}
.ico:hover {
	transform: scale(1.25);
}
.shop-logo:hover {
	transform: scale(1.2);
}


/*footer----------------------------------------------------------------*/
.footer {
	height: 180px;
	display: flex;
	justify-content:space-around;
	padding-top: 30px;
	font-size: 15px;
	text-align: center;
}
.contact img {
	width:55px;
	height: 55px;
}
.footer-logo {
	text-align: center;
	padding-bottom: 35px;
}
.map p, .contact p {
	margin-top: 15px;
	margin-bottom: 15px;
}
.map p{
	margin-top: 30px;
}
/*indexトップページ--------------------------------------------------*/
.first-view {
	background-image: url(../images/garden.jpeg);
	background-size: cover;
	background-position: left bottom;
	height: calc(100vh - 110px);
	display: flex;
	align-items: center;
	justify-content: center;	
}
.first-view-text p {
	text-align: center;
}
.first-view-text {
	font-size: 40px;
	font-weight: 700;
	font-family: "Joti One", serif;
	-webkit-text-stroke: 2px #fff;
	paint-order: stroke;
	color: black;
}
.main ul {
	list-style: none;
	display:grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 15vw 15vw 15vw;
	width: 55%;
	margin: 30px auto;
	background-color: #F0FFFF;
}
.main ul img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.li1 {
	background-color: #32CD32;
	grid-column: 1/3;
	grid-row: 1/2;
	font-family: "Yuji Boku", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	border-radius: 100px 20px 20px/ 100px 20px 20px;
	text-align: center;
	padding-top: 15%;
	transition-duration: 0.5s;
	color: #000;
}
.li2 {
	background-color: #90EE90;
	grid-column: 3/4;
	grid-row: 1/3;
	font-family: "Yuji Boku", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	writing-mode: vertical-rl;
	border-radius: 20px 100px 20px 20px/20px 100px 20px 20px;
	text-align: center;
	padding-right: 35%;
	transition-duration: 0.5s;
	color: #000;
}
.li3 {
	background-color: #00FF7F;
	grid-column: 1/2;
	grid-row: 2/4;
	font-family: "Yuji Boku", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	writing-mode: vertical-rl;
	border-radius: 20px 20px 20px 100px/20px 20px 20px 100px;
	text-align: center;
	padding-right: 30%;
	transition-duration: 0.5s;
	color: #000;
}
.li4 {
	grid-column: 2/3;
	grid-row: 2/3;
	transition-duration: 1s;
	color: #000;
}
.li4 img {
	border-radius: 20px;
	transition-duration: 0.5s;
}
.li5 {
	background-color: #7FFF00;
	grid-column: 2/4;
	grid-row: 3/4;
	font-family: "Yuji Boku", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	border-radius: 20px 20px 100px/20px 20px 100px;
	text-align: center;
	padding-top: 15%;
	transition-duration: 0.5s;
	color: #000;
}
.li1:hover {
	transform: scale(1.05);
}
.li2:hover {
	transform: scale(1.05);
}
.li3:hover {
	transform: scale(1.05);
}
.li4:hover {
	transform: scale(1.5);
}
.li5:hover {
	transform: scale(1.05);
}
.summary {
	line-height: 2;
	padding: 40px 0;
	width: 1000px;
	margin: 0 auto;
	font-size: 20px;
}
.concept1 h2 {
	width: 80%;
	margin: 20px auto;
	
}
.paragraph {
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
} 
.summary caption {
	text-align: center;
}



/*ACCESSページーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.h1set {
	background-image: url(../images/exterior-night.jpeg);
	background-size: cover;
	background-position: right center;
	text-shadow: 5px 5px 10px #fff;
	text-align : center;
	padding-top: 50px;
	height: 150px;
}
.h1set h1 {
	font-family: "Dela Gothic One", sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.access2 {
	display: flex;
}
.information {
	line-height: 2;
	margin-left: 20px;
	padding: 30px;
	font-family: "Yuji Boku", serif;	
}
.google-map {
	width: 800px;
	height: 400px;
	padding: 30px;
	border-radius: 15% 5%/ 15%;
}
.access-map {
	padding-left: 30px;
}
form {
	width: 750px;
	margin: 10px auto;
	text-align: center;
	
}
form span {
	font-size: 0.7em;
	color: red;
}
form div {
	margin: 10px 0;
}


input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	background-color: rgba(255, 255, 255, .5);
	border: 1.5px solid #000;
	border-radius: 10px;
	padding: 10px;
}
select {
	width: 100%;
	max-width: 250px;
	background: rgba(255, 255, 255, .5) url(../images/arrow.png) no-repeat 98% 50% / 17px 10px;
	border: 1.5px solid #000;
	border-radius: 10px;
	padding: 10px;
}
textarea {
	width: 100%;
	max-width: 480px;
	height: 300px;
}
input[type="submit"] {
	width: 150px;
	height: 50px;
	margin: 30px;
	background-color: #006400;
	color: #fff;
	border-radius: 50px;
}
input[type="submit"]:hover {
	background-color: #7CFC00;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
	width: 100%;
	max-width: 300px;
}
input[type="radio"] {
	margin-right: 10px;
}


/*items------------------------------------------------------------------*/
.sentences {
	background-image: url(../images/exterior.jpeg);
	background-size: cover;
	background-position: left top;
	text-shadow: 5px 5px 10px #fff;
	text-align : center;
	padding-top: 50px;
	height: 150px;
}
.sentences h1 {
	font-family: "Dela Gothic One", sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.aboutitems {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	list-style: none;
}
.aboutitems a {
	color:#000;
}
.aboutitems li:hover {
	transform: scale(1.1);
	transition-duration: 0.8s;
}
.aboutitems dl, #itemscoffee dl{
	text-align: center;
}
.aboutitems dt {
	font-weight: bold;
	font-size: 35px;
	font-family: "Yuji Boku", serif;
}
.aboutitems dd {
	line-height: 1.5;
	margin-bottom: 30px;
}
.itemsdetails ul img {
	width: 300px;
	height: 250px;
	border-radius: 10px;
	margin: 15px;
	border: 2px solid #000;
}
#items h3 {
	margin: 50px auto;
	padding: 0 10px;
	font-size: 25px;
	width: 300px;
	text-align: center;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
#items img {
	width: 400px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px -10px;
}
#itemscoffee ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	justify-content: space-evenly;
	list-style: none;
}
#itemscoffee dt {
	font-weight: 800;
	font-size: 20px;
	font-family: "Yuji Boku", serif;
	margin-top: 20px;
	margin-bottom: 10px;
}
#itemscoffee dd {
	margin-bottom: 30px;
	font-size: 15px;
}
#itemschocolate ul {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
}
#itemschocolate p, #itemsplants p {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin: 50px;
	line-height: 2;
	font-family: "Yuji Boku", serif;
}
#itemsplants ul {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
}
#toppage {
	text-align: right;
	font-size: 20px;
	padding-bottom: 30px;
	padding-right: 30px;
}
/*concept-page-----------------------------------------------------------*/
.concept-h1set {
	background-image: url(../images/amulog.jpeg);
	background-size: cover;
	background-position: right center;
	text-shadow: 5px 5px 10px #fff;
	text-align : center;
	padding-top: 50px;
	height: 150px;
}
.concept-h1set h1 {
	font-family: "Dela Gothic One", sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.concept-main {
	font-family: "Yuji Boku", serif;

}
#conceptmain {
	text-align: center;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	line-height: 2;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	width: 100%;
	margin: 0 auto 30px;
}
#concept-tender1,#concept-tender2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
#concept-tender1 p, #concept-tender2 p {
	border-left: 3px solid #000;
	line-height: 2;
	margin: 10px;
	padding: 10px;
	font-family: "Yuji Boku", serif;
}
#concept-tender img {
	width: 40%;
	height: 40%;
	border-radius: 50%;
}
#concept-tender1 img, #concept-tender2 img {
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
}
#concept-tender {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
#eat-inspace {
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}
#eat-inspace img {
	border-radius: 20px;
	width: 60%;
	border: 2px solid #000;
}
#lastmessage {
	width: 60%;
	margin: 50px auto;
	text-align: center;
	font-weight: 1000;
	font-size: 25px;
	line-height: 3;
	background: #ADFF2F;
	box-shadow: 0px 0px 0px 5px #ADFF2F;
	border: dashed 2px white;
	padding: 0.2em 0.5em;
}
#coffeebeanshands img {
	width: 70%;
	border-radius: 80%;
}
#coffeebeanshands {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
/*800px以下の場合
-----------------------------------------------------------------------*/
@media (max-width: 800px){
/*index-----------------------------------------------*/
.first-view {
	background-position: 10%;
	height: calc(100vh - 50px);
	margin-top: 50px;
}
.summary {
	line-height: 1.2;
	padding: 10px 0;
	width: 80%;
	font-size: 15px;
}
.summary th {
	line-height: 1.5;
}
.paragraph {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
} 
.main ul {
	width: 60%;
}
.concept li {
	font-size: 8px;
}
.li1 {
	padding-top: 11%;

}
.li2 {
	padding-left: 8%;
}
.li3 {
	padding-bottom: 11%;
}

.first-view-text {
	font-size: 20px;
}
.first-view-text h1, .first-view-text p {
	padding-bottom: 20px;
}

/*header-----------------------------------------------*/
.br {
	display: block;
}
.site-menu ul {
	display: block;
	text-align: center;
	font-size: 15px;
}
.site-menu ul {
	display: block;
	text-align: center;
	font-size: 15px;
}
.icon {
	height: 25px;
	width: 25px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	height: 50px;
	z-index: 10;
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.site-menu ul li {
	margin-top: 10px;
}
.header-inner {
	padding: 0 20px;
	height: 100%;
	position: relative;
}
.shop-logo {
	width: 80px;
	height: 50px;
}
.header-site-menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	color: #fff;
	background-color: rgba(220,220,220,.8);
	padding: 30px 0 50px;
	display: none;
}
.header-site-menu.is-show {
	display: block;
}
.toggle-menu-button {
	display: block;
	width: 44px;
	height: 34px;
	background-image: url(../images/icon-menu.png);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;	
}


/*footer-----------------------------------------------*/
.footer {
	display: block;
	height: 200px;
}
.contact img {
	height: 30px;
	width: 30px;
}
.footer-logo {
	text-align: center;
	padding-bottom: 30px;
}
.map p, .contact p {
	margin: 5px;
}
.map {
	font-size: 15px;
}
/*access-----------------------------------------------*/
.pan {
	font-size: 10px;
	padding: 10px 20px 0;
}
.paragraph {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
} 
.h1set {
	margin-top: 50px;
	padding-top: 15px;
	height: 80px;
	font-size: 10px;
}
.access2 {
	display: block;
	width: 90%;
	margin: 0 auto;

}
.information {
	line-height: 1.5;
	margin-left: 0;
	padding: 0;
	font-size: 15px;
	text-align: center;
}
.google-map {
	width: 100%;
	height: 250px;
	padding: 20px;
}
.access-map {
	padding-left: 0;
}
.access3 {
	margin-top: 20px;
}

form {
	width: 80%;
}
form div {
	margin-bottom: 10px;
}
#concept-tender1 p, #concept-tender2 p {
	border: none;
	line-height: 1.5;
	padding-top: 20px;
}
.information p {
	margin-top: 15px;
}
/*concept-----------------------------------------------*/
.concept-h1set {
	margin-top: 50px;
	padding-top: 15px;
	height: 80px;
	font-size: 10px;
}
#lastmessage {
	font-size: 10px;
	line-height: 2;
	padding: 30px;
	margin: 20px auto;
}
#concept-tender1 {
	display: block;
}
#concept-tender2 {
	display: block;
	border-top: 2px dotted #000;
}
#conceptmain {
	font-size: 15px;
	line-height: 1.5;
	margin: 0 auto 10px;
}
#eat-inspace {
	padding: 10px 0;
}

/*items-----------------------------------------------*/
#toppage {
	text-align: center;
	font-size: 13px;
	padding-bottom: 15px;
	padding-right: 0px;
}
.sentences {
	margin-top: 50px;
	padding-top: 15px;
	height: 80px;
	font-size: 10px;
}
.aboutitems, #itemscoffee ul, #itemschocolate ul, #itemsplants ul {
	display: block;
}
#items {
	width: 80%;
	margin: 0 auto;
}
.aboutitems dt {
	font-size: 20px;
}
.aboutitems dd {
	line-height: 1.2;
	margin-bottom: 10px;
	font-size: 15px;
}
#items h3 {
	margin-bottom: 20px;
}
#itemscoffee img, #itemschocolate img, #itemsplants img {
	width: 80%;
}
#itemschocolate li, #itemsplants li {
	text-align: center;
	margin: 20px;
}
#itemschocolate p, #itemsplants p {
    font-size: 15px;
    margin: 15px;
    padding: 0;
    line-height: 1.5;
}
.itemsdetails ul img {
	width: 250px;
	height: 150px;
	margin: 5px;
}
/*終了タグ-----------------------------------------------*/

}